<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>Vous n'êtes pas autorisé à accéder à cette page</h2>
        <p>Veuillez cliquer sur le bouton ci-dessous pour être redirigé vers la page d'accueil.</p>
        <hr />
        <p>
            <a asp-controller="Movies" asp-action="Index" class="btn btn-outline-success">Home Page</a>
        </p>
    </div>
</div>