@using E_Tickets.Data.ViewModels
@model LoginVM
@{
    ViewData["Title"] = "S'authenifier";
}


@if (TempData["Error"] != null)
{
    <div class="col-md-12 alert alert-danger">
        <span><b>Désolé !</b> - @TempData["Error"] </span>
    </div>
}
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">

                    <h3 class="mb-5">Connectez-vous à votre compte</h3>
                    <form asp-action="Login">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-outline mb-4">
                            <label asp-for="EmailAddress" class="form-label" for="typeEmailX-2">Email</label>
                            <input asp-for="EmailAddress" type="email" id="typeEmailX-2" class="form-control form-control-lg" />
                            <span asp-validation-for="EmailAddress" class="text-danger"></span>
                        </div>

                        <div class="form-outline mb-4">
                            <label asp-for="Password" class="form-label" for="typePasswordX-2">Mot de passe</label>
                            <input asp-for="Password" type="password" id="typePasswordX-2" class="form-control form-control-lg" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <!-- Checkbox -->
                        <div class="form-check d-flex justify-content-start mb-4">
                            <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
                            <label class="form-check-label" for="form1Example3"> Mémoriser le mot de passe </label>

                        </div>

                        <button class="btn btn-primary btn-lg btn-block" type="submit">Connexion</button>
                        <button class="btn btn-secondary btn-lg btn-block" asp-controller="Movies" asp-action="Index">Annuler</button>
                    </form>
                    <hr class="my-4">
                </div>
            </div>
        </div>
    </div>
</div>