@using E_Tickets.Data.ViewModels;
@model RegisterVM;

@{
    ViewData["Title"] = "Sign up for a new account";
}
@if (TempData["Error"] != null)
{
    <div class="col-md-12 alert alert-danger">
        <span><b>Désolé !</b> - @TempData["Error"] </span>
    </div>
}
@{
    var imagePath = Url.Content("~/Images/e-ticket-high-resolution-logo.png");


}
<!-- Section: Design Block -->

<style>
    .cascading-right {
        margin-right: -50px;
    }

    media (max-width: 991.98px) {
        .cascading-right

    {
        margin-right: 0;
    }

    }</style>

<!-- Jumbotron -->
<div class="container py-4">
    <div class="row g-0 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
                <div class="card-body p-5 shadow-5 text-center">
                    <h2 class="fw-bold mb-5">S'inscrire maintenant</h2>
                    <form asp-action="Register">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <!-- 2 column grid layout with text inputs for the first and last names -->
                        <div class="row">
                            <div class="form-outline mb-4">
                                <label asp-for="FullName" class="form-label" for="form3Example1">Nom Prénom</label>
                                <input asp-for="FullName" type="text" id="form3Example1" class="form-control" />
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>

                        </div>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <label asp-for="EmailAddress" class="form-label" for="form3Example3">Adresse Mail</label>
                            <input asp-for="EmailAddress" type="email" id="form3Example3" class="form-control" />
                            <span asp-validation-for="EmailAddress" class="text-danger"></span>

                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <label asp-for="Password" class="form-label" for="form3Example4">Mot de passe</label>
                            <input asp-for="Password" type="password" id="form3Example4" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <!-- Password input conff -->
                        <div class="form-outline mb-4">
                            <label asp-for="ConfirmPassword" class="form-label" for="form3Example4">Confirmer le mot de passe</label>
                            <input asp-for="ConfirmPassword" type="password" id="form3Example4" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4">S'inscrire</button>
                        <button class="btn btn-secondary btn-block mb-4" asp-controller="Movies" asp-action="Index">Annuler</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
            <img src="@imagePath" class="w-100 rounded-4 shadow-4"
                 alt="ddssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssdd" />
        </div>
    </div>
</div>
<!-- Jumbotron -->
<!-- Section: Design Block -->
