<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>COMMANDE EFFECTUÉE AVEC SUCCÈS</h2>
        <p>Vous pouvez vérifier toutes vos commandes dans la section Commandes de votre profil</p>
        <hr />
        <p> MERCI À VOUS !</p>
        <hr />
        <a asp-controller="QRCodes" asp-action="Create" class="btn btn-dark">RÉCUPÉRER VOTRE VOUTCHER CODE</a>
    </div>
</div>