html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

rating {
    unicode-bidi: bidi-override;
    direction: rtl;
}

star {
    display: inline-block;
    font-size: 20px;
    color: #ccc;
    cursor: pointer;
}

    .star:hover,
    .star.active {
        color: #ffcc00;
    }